<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>
        survey
    </title>
</head>

<body>
    <h1 id="title">Survey Form</h1>
    <p id="description">Enjoy Coding</p>
    <div id="survey-form">
        <%= message %>
    </div>
</body>

</html>